{% extends "base.html" %}
{% load static %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/home.js' %}"></script>
{% endblock %}

{% block body %}

{% include "navbar.html" %}

    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
          <div class="container">

            <div class="d-flex justify-content-between align-items-center">
              <h4>게시판 등록</h4>
              <ol>
                <li><a href="/">Home</a></li>
                <li><a href="/board">게시판</a></li>
                <li>등록</li>
              </ol>
            </div>

          </div>
        </section><!-- End Breadcrumbs -->

        <!-- ======= Services Section ======= -->
        <section id="services" class="services">
          <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h3>게시판 등록</h3>
                <form method="POST" action="/board_insert" id="frmBoard">
                {% csrf_token %}
                {% comment %} {% for field in form %} {% endcomment %}
                {% comment %} <div class="form-group">
                  <input type="{{field.field.widget.input_type}}" class="form-control" id="{{field.id_for_label}}" placeholder="{{field.label}}" name="{{field.name}}">
                </div> {% endcomment %}
                <div class="form-group">
                  <input type="{{form.form.widget.input_type}}" class="form-control" id="{{form.id_for_label}}" placeholder="제목" name="b_title">
                </div>
                {% if user.is_authenticated %}
                  <div class="form-group">
                    <input type="{{form.form.widget.input_type}}" class="form-control" id="{{form.id_for_label}}" value={{ user.get_username }} name="b_writer">
                  </div>
                {% else %}
                <div class="form-group">
                  <input type="{{form.form.widget.input_type}}" class="form-control" id="{{form.id_for_label}}" value="비회원" name="b_writer">
                </div>                
                {% endif %}
                <div class="form-group">
                  <input type="{{form.form.widget.input_type}}" class="form-control" id="{{form.id_for_label}}" placeholder="내용" name="b_note" style="rows: 5;">
                </div>
                {% for field in form %}
                {% if field.errors %}
                  <span style="color: red;">{{ field.errors }}</span>
                {% endif %}
                {% endfor %}
                {% comment %} {% endfor %} {% endcomment %}
                <tr style="height:45px;border-top:solid 1px #dddddd;" align="center">
                    <td width="100%" colspan="2">
                        <button class="btn btn-outline-success my-2 my-sm-0" style="margin-right:10px;" onclick="javascript:document.getElementById('frmBoard').submit();">저장</button>
                        <a href="/board" class="btn btn-outline-success">목록</a>
                    </td>
                </tr>
                </form>

            </div>

          </div>
        </section><!-- End Services Section -->

    </main><!-- End #main -->

    {% include "footer.html" %}

{% endblock %}
