{% if not comment_list %}
    <p class="text-center">댓글이 없습니다! </p>
{% endif %}

<div style="margin:20px 0; margin-right:400px; margin-left:400px;">
    {% for i in comment_list %}
    <table width="100%" cellpadding="0" cellspacing="0">
        <tbody>
            <tr style="background-color:#f1eee3;height:45px;border-top: 1px solid #333;">
                <td style="padding-left: 10px;border-top: 1px solid #eee;width: 114px;" align="center" width="20%">{{ i.c_writer }}</td>
                <td style="vertical-align: top;border-top: 1px solid #eee;padding: 10px 0;" align="left" width="70%">{{ i.c_note }}
                    <span style="color: #999;font-size: 11px;display: block;">{{ i.c_date }}</span>
                </td>
                {% if user.username == i.b_writer or user.is_staff %}
                <form action="{% url 'comment_update' i.id %}">
                    <td style="vertical-align: top;border-top: 1px solid #eee;padding: 10px 0;" align="right" width="10%">
                        <button class="btn btn-outline-success my-2 my-sm-0">수정</button>
                    </td>
                </form>
                {% endif %}
                {% if user.username == i.c_writer or user.is_staff %}
                <form action="{% url 'comment_delete' i.id %}" method='POST'>
                {% csrf_token %}
                    <td style="vertical-align: top;border-top: 1px solid #eee;padding: 10px 0;padding-right: 5px;" align="right" width="10%">
                        <button class="btn btn-outline-success my-2 my-sm-0" style="margin-right:10px;">삭제</button>
                    </td>
                </form>
                {% endif %}
            </tr>
        </tbody>
    </table>
    {% endfor %}
</div>
{% include 'comment_write.html' %}